##
## AD5X config transplant override
##
## Copyright (C) 2026, Preston Brown
##
## This file may be distributed under the terms of the GNU GPLv3 license
##
## AD5X override for .cfg/init.base.cfg. Removes [heater_bed] (relocated to
## printer.cfg by init.move.cfg) and the stock [led chamber_led]. Unlike the
## AD5M version it does NOT strip [fan_generic pcb_fan] nor add
## [controller_fan driver_fan] - AD5X keeps its stock pcb_fan (PA5).
##
-[heater_bed]
-[led chamber_led]
