##
## Headless display implementation macros
##
## Copyright (C) 2025-2026, Alexander K <https://github.com/drA1ex>
##
## This file may be distributed under the terms of the GNU GPLv3 license

[include ../macros/base.cfg]
[include ../macros/headless.cfg]
[include ../macros/client.cfg]

[delayed_gcode initial_boot]
initial_duration: 3
gcode:
    RUN_SHELL_COMMAND CMD=screen PARAMS='draw_splash'

[delayed_gcode reset_screen]
initial_duration: 3
gcode:
    _BACKLIGHT S={printer.mod_params.variables.backlight_eco}
