##
## AD5M hardware macros
##
## Copyright (C) 2025-2026, Alexander K <https://github.com/drA1ex>
## Copyright (C) 2025, Sergei Rozhkov <https://github.com/ghzserg>
##
## This file may be distributed under the terms of the GNU GPLv3 license
##
## AD5M-stock display/runout hardware, split out so other boards can
## override it. AD5M default; headless.cfg pulls it in via
## [include hw_display.cfg].
##

[filament_switch_sensor e0_sensor]
pause_on_runout: False
runout_gcode:
    {% set use_sensor = printer.mod_params.variables.filament_switch_sensor %}
    {% set filament_detected = printer['filament_switch_sensor e0_sensor'].filament_detected %}
    {% set printing =  printer.idle_timeout.state == "Printing" %}
    {% set paused = printer.pause_resume.is_paused %}
    {% set print_active = printer["gcode_macro _START_PRINT"].print_active %}

    {% if use_sensor and printing and print_active and not filament_detected and not paused %}
        PAUSE
        
        RESPOND PREFIX="!!" MSG="Filament runout detected!"
        M400
    {% endif %}
