##
## Operation context types and cancellation domains
##
## Copyright (C) 2026, Alexander K <https://github.com/drA1ex>
##
## This file may be distributed under the terms of the GNU GPLv3 license


[operation_context]

[operation_context_type print]
name: Print
cancel_mode: cancelable
on_cancel: CANCEL_PRINT

[operation_context_type auto_bed_level]
name: Bed Level
cancel_mode: cancelable
on_cancel: _STOP

[operation_context_type bed_screws]
name: Bed Screws
cancel_mode: cancelable
on_cancel: _STOP

[operation_context_type bed_level]
name: Bed Mesh

[operation_context_type kamp]
name: KAMP

[operation_context_type mesh_validation]
name: Mesh Validation

[operation_context_type nozzle_clean]
name: Nozzle Cleaning

[operation_context_type filament]
name: Filament
cancel_mode: cancelable
on_cancel: _LOAD_MATERIAL_CANCEL

[operation_context_type cold_pull]
name: Cold Pull
cancel_mode: cancelable
on_cancel: _COLDPULL_CANCEL

[operation_context_type resume]
name: Resume

[operation_context_type z_offset]
name: Z Offset
cancel_mode: cancelable

[operation_context_type recovery]
name: Recovery
cancel_mode: non_interruptible
